* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.mt-10_custom {
    margin-top: 10px;
}


.skyblue {
    background-color: skyblue;
}

.css_mr_10 {
    margin-right: 10px;
}

.avatar {
    width: 150px;
    height: 150px;
}

.rounded {
    border-radius: 50%;
}

.custom_form_control {
    border-radius: 20px;
    width: 100%;
}

main {
    grid-area: main;
}

.app_wrapper {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: "header header" "sidebar main";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}